<h2 class="movie-report">Reporte de Películas</h2>
<div id="container" class="movie-report">
  <dx-form
    [formData]="reporteGeneral" [colCount]="2">
    <dxi-item dataField="titutloPeliculaMasVieja" label="Título de la película más vieja" [editorOptions]="{ readOnly: true}"></dxi-item>
    <dxi-item dataField="peliculaViejaEstrenoFecha"  label="Pelicula más vieja (Fecha de estreno)" [editorOptions]="{ readOnly: true}"></dxi-item>
    <dxi-item dataField="tituloPeliculaNueva" label="Título de la película más nueva" [editorOptions]="{ readOnly: true}"></dxi-item>
    <dxi-item dataField="peliculaNuevaFechaEstreno"  label="Película más nueva (Fecha de estreno)" [editorOptions]="{ readOnly: true}"></dxi-item>
    <dxi-item dataField="peliculaConMasActores" label="Película con más actores" [editorOptions]="{ readOnly: true}"></dxi-item>
    <dxi-item dataField="numeroDeActoresPeliculaConMasActores" label="Número de actores en la película con más actores" [editorOptions]="{ readOnly: true}"></dxi-item>
    <dxi-item dataField="directorConMasPelicuas" label="Director con más películas" [editorOptions]="{ readOnly: true}"></dxi-item>
    <dxi-item dataField="cantidadDePeliculasDelDirector" label="Cantidad de películas del director con más películas" [editorOptions]="{ readOnly: true}"></dxi-item>
    <dxi-item dataField="actorConMasPeliculas" label="Actor con más películas" [editorOptions]="{ readOnly: true}"></dxi-item>
    <dxi-item dataField="cantidadDePelicuasActor"  label="Cantidad de películas del actor con más películas" [editorOptions]="{ readOnly: true}"></dxi-item>
  </dx-form>
  
  <h2 class="movie-report">Top 5 Películas</h2>
  <dx-data-grid
      [dataSource]="reporteGeneral?.top5Peliculas ?? []"
      [columns]="[
        { dataField: 'idPelicula', caption: 'ID', editorOptions: { readOnly: true } },
        { dataField: 'titulo', caption: 'Título', editorOptions: { readOnly: true } },
        { dataField: 'estreno', caption: 'Estreno', editorOptions: { readOnly: true } },
        { dataField: 'valoracion', caption: 'Valoración', editorOptions: { readOnly: true } },
        { dataField: 'sinopsis', caption: 'Sinopsis', editorOptions: { readOnly: true } },
        { dataField: 'idDirector', caption: 'ID Director', editorOptions: { readOnly: true } },
        { dataField: 'idGenero', caption: 'ID Género', editorOptions: { readOnly: true } }
      ]" class="movie-report" [columnAutoWidth]="true">
  </dx-data-grid>
</div>
