<div>
  <dx-form id="form" [formData]="movie">
    <dxi-item itemType="group" cssClass="form-group" [colCount]="4">
      <dxi-item>
        <div class="form-avatar"></div>
      </dxi-item>
      <dxi-item itemType="group" [colSpan]="3">
        <dxi-item dataField="titulo" caption="Título"></dxi-item>
        <dxi-item dataField="estreno" caption="Fecha Estreno"></dxi-item>
        <dxi-item dataField="director.nombreDirector" caption="Director"></dxi-item>
      </dxi-item>
    </dxi-item>
  </dx-form>
  <dx-data-grid id="grid" [dataSource]="movie?.actores || []" [allowColumnReordering]="true" [columnAutoWidth]="true" (onRowInserting)="createActing($event)" (onRowRemoved)="deletingCasting($event)">
    <dxi-column dataField="idActor" caption="ID" [visible]="false" [editorOptions]="{ readOnly : true}"></dxi-column>
    <dxi-column dataField="nombre" caption="Nombre" calculateDisplayValue="nombre">
      <dxo-lookup [dataSource]="actores" displayExpr="nombre" valueExpr="nombre">
      </dxo-lookup>
    </dxi-column>
    <dxo-editing mode="row" [allowAdding]="true"></dxo-editing>
    <dxo-editing mode="popup" [allowDeleting]="true"></dxo-editing>
  </dx-data-grid>
  <div class="pagination-buttons">
    <button (click)="prevMovie()" [disabled]="currentMovieIndex === 0">Previous</button>
    <button (click)="nextMovie()" [disabled]="currentMovieIndex === movies.length - 1">Next</button>
  </div>
</div>